<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #D6EEEE;
    }
    </style>    
    <title>Timesheet Import System</title>
</head>
<body>
    <h1 style="text-align: center; color:#069;border-bottom: 8px solid #069;">Timesheet Import System</h1>    
	<table>
       <tr>
	     <th style="width:30%">Application</th>
         <th style="width:30%">App Links</th>
       </tr>  
	   <tr>
          <td>Timesheet Import Page</td>
		  <td><a href="./timesheetimportpage">Click here..</a></td>
        </tr>
        <tr>
          <td>Timesheet Report Viewer</td>
		  <td><a href="./timesheetreport">Click here..</a></td>
        </tr>
		<tr>
          <td>User Management Page</td>
		  <td><a href="./users">Click here..</a></td>
        </tr>
    </table>        
    
</body>
</html>
